body {
    font-family: 'Mulish';
    font-size: 10px;
}

.logo-container {
    width: 58.5em; /* meausred form tutangle image in figma*/
    height: 8.6em; /* meausred form tutangle image in figma*/
    overflow: hidden;
}

.logo-container .search-bar {
    margin-top: 2.8em; /* meausred form tutangle image in figma*/
}

.logo-container input {
    width: 28.0em; /* meausred form tutangle image in figma*/
    height: 2.2em; /* meausred form tutangle image in figma*/
    padding: 1.2em 0em;
    border: none;
    background: url('../images/search-bar.png');
    background-repeat: no-repeat;
    background-position: center;
    color: #869494;
    font-size: 1em;
}

.search-bar button {
    width: 5.4em; /* meausred form tutangle image in figma*/
    height: 2em; /* meausred form tutangle image in figma*/
    font-weight: bold;
    border: none;
    font-size: 1em;
    color: white;
    background: url('../images/search-button.png');
    background-repeat: no-repeat;
    background-position: center;
}

.search-bar button:hover {
    cursor: pointer;
}

li a {
    color: black;
    text-decoration: none;
}

.user-details {
    text-align: right;
    padding: 1.6em 0em;
    font-weight: bold;
}

.user-details h4 {
    font-size: 1.6em;
}

.user-details ul {
    margin-top: 1em; /* meausred form tutangle image in figma*/
}

.user-details ul li {
    display: inline;
    border-right: 0.2em solid black;
    padding: 0em 0.3em;
    font-size: 1.4em;
}

.user-details ul li a:hover {
    text-decoration: underline;
}
  
.user-details-last-child {
    padding: 0;
    color: #969696;
    border-right: none !important;
}
  
.user-details span:hover {
    cursor: pointer;
}

nav {
    background: #F5F5F5;
    padding: 1.2em 0em;
    font-weight: bold;
}
  
nav ul li {
    display: inline;
}
  
.nav-bar li {
    margin-right: 1em; /* meausred form tutangle image in figma*/
    margin-left: 1.2em; /* meausred form tutangle image in figma*/
    font-size: 1.4em; 
}

.nav-bar li:hover {
    cursor: pointer;
}

.nav-bar li a:hover {
    cursor: pointer;
    text-decoration: underline;
}
  
nav .notifications {
    font-size: 1.2em;
}
  
.notifications li {
    margin: 0;
}
  
.notifications li:first-child {
    margin-right: 3em; /* meausred form tutangle image in figma*/
}

.notifications-last-child {
    color: #959595;
}
  
.notifications img {
    margin-right: 0.5em; /* meausred form tutangle image in figma*/
}
  
.notifications span {
    position: relative;
    bottom: 0.3em;
}

main ul li, .small-screen ul li {
    list-style: none;
    padding: 1em 1.3em;
}
  
main ul li:hover, .small-screen ul li:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

.sidebar li, .sidebar-small-screen li {
    font-size: 1em;
    font-weight: bold;
}
  
.sidebar li span:first-child, .sidebar-small-screen li span:first-child {
    width: 15.2em; /* meausred form tutangle image in figma*/
}
  
.list-heading {
    color: #FFFFFF;
    background-color: #2FC1DA;
    padding: 1.2em 0em;
}
  
.list-heading h2 {
    font-size: 1.8em;
    margin-left: 1.2em; /* meausred form tutangle image in figma*/
    font-weight: bold;
}

.main-content h1 {
    font-size: 2.6em;
    font-weight: bold;
}

.main-content h3 {
    font-size: 1.4em;
    font-weight: bold;
}

.main-content .entries {
    margin-top: 0.6em; /* meausred form tutangle image in figma*/
}
  
.entries-nav {
    width: 100%;
    border-bottom: 0.2em solid #2FC1DA;
}
  
.entries-nav-items {
    position: relative;
}
  
.entries-nav-items .heading {
    text-align: center;
    margin-top: 1em;
}
  
.left-nav {
    width: 25.8em; /* meausred form tutangle image in figma*/
    height: 6.6em; /* meausred form tutangle image in figma*/
    background: url('../images/left-rounded-corner.png');
}
  
.right-nav {
    width: 25.8em; /* meausred form tutangle image in figma*/
    height: 6.6em; /* meausred form tutangle image in figma*/
    background: url('../images/right-rounded-corner.png');
}
  
.nav-link-container {
    width: 23.8em; /* meausred form tutangle image in figma*/
    height: 2.8em; /* meausred form tutangle image in figma*/
    position: absolute;
    bottom: 0;
    left: 0.9em;
}
  
.nav-link {
    width: 11.4em; /* meausred form tutangle image in figma*/
    height: 2.8em; /* meausred form tutangle image in figma*/
    background: url('../images/gray-button.png');
    font-weight: bold;
    position: relative;
}
  
.nav-link:hover {
    cursor: pointer;
    background: url('../images/blue-button-hover.png');
    color: #FFFFFF;
}
  
.nav-link-container .active {
    background: url('../images/blue-button.png');
    color: #FFFFFF;
}
  
.nav-link-container a {
    color: #000000;
    text-decoration: none;
}
  
.nav-link-container .active a {
    color: #FFFFFF;
    text-decoration: none;
}
  
.nav-link div {
    margin-top: 0.9em;
    text-align: center;
    font-size: 1.2em;
}

.blue-text {
    color: #2F9EB1 !important; 
}
  
.green-text {
    color: #709720 !important; 
}
  
.red-text {
    color: #D53F1E !important;
}

.post {
    width: 100%;
    height: 7.2em; /* meausred form tutangle image in figma*/
    padding: 1.4em 0em;
    border-bottom: 0.1em solid #d8d8d8;
}
  
.post a {
    text-decoration: none;
    color: #000000;
}
  
.post div:first-child {
    margin-right: 0.8em; /* meausred form tutangle image in figma*/
}
  
.post p {
    font-size: 1.2em;
    margin: 0.2em 0em; /* meausred form tutangle image in figma*/
    color: #6B6B6B;
    font-weight: bold;
}

.post h2 {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0.6em; /* meausred form tutangle image in figma*/
}

.post h2:hover {
    cursor: pointer;
}

.post-notification {
    font-size: 1em !important; 
    font-weight: bolder !important;
    margin-bottom: 0.4em !important; /* meausred form tutangle image in figma*/
}

.right-sidebar, .right-sidebar-small-screen {
    font-size: 1.2em;
    font-weight: bold;
}

.right-sidebar h2, .right-sidebar-small-screen h2 {
    font-size: 1.4em;
}

.right-sidebar ul li, .right-sidebar-small-screen ul li {
    padding: 1.2em 1em;
}

.sidebar li a:hover, .right-sidebar li a:hover, .sidebar-small-screen li a:hover, .right-sidebar-small-screen li a:hover {
  border-bottom: none;
}

footer {
    font-size: 1em;
    font-weight: bold;
}
  
footer ul li {
    display: inline;
}

footer ul li a:hover{
    text-decoration: underline;
}
  
.dot {
    margin: 0em 0.6em;
}
  
footer a {
    color: #FFFFFF;
}

.container {
    width: 68em;
    margin: 0 auto;
}

header {
    height: 12.6em;
}

.logo-container {
    width: 48.5em;
    height: 12.6em;
    overflow: hidden;
}

.logo-container img {
    margin-left: 1.5em;
}

.logo-container .search-bar {
    float: none;
    margin-top: 8.8em;
    margin-left: 1.5em;
}

.user-details {
    float: left;
}

.nav-bar {
    float: none;
    display: block;
    margin-left: 8em;
}

.notifications {
    float: none;
    display: block;
    margin-top: 1em;
    margin-left: 16em;
}

.main-content {
    margin-left: 8em;
}

.sidebar {
    display: none;
}

.right-sidebar {
    display: none;
}

.small-screen {
    display: block;
    margin-bottom: 3em;
}

.sidebar-small-screen {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.4em;
}

.right-sidebar-small-screen {
    float: right;
    width: 40%;
    height: 100%;
    margin-right: 3em;
    font-size: 1.4em;
}

.container {
    width: 48em;
    margin: 0 0.4em;
}

header {
    height: 12.6em;
}

.logo-container {
    width: 28.5em;
    height: 12.6em;
    overflow: hidden;
}

.logo-container img {
    margin-left: 0.2em;
}

.logo-container .search-bar {
    float: none;
    margin-top: 8.8em;
    margin-left: 0.2em;
}

.logo-container input {
    width: 20.0em;
}

.user-details {
    float: right;
}

.nav-bar {
    float: none;
    display: block;
    margin-left: 0;
}

.nav-bar li {
    margin-right: 0.2em;
    margin-left: 1.2em;
    font-size: 1.4em; 
}

.notifications {
    float: none;
    display: block;
    margin-top: 1em;
    margin-left: 6em;
}

.main-content {
    margin: 0 1em;
}

.post {
    width: 100%;
    height: 14.4em; /* meausred form tutangle image in figma*/
    padding: 1.4em 0em;
    border-bottom: 0.1em solid #d8d8d8;
}

.usr-img {
    float: none;
    margin: 0 40%;
    margin-bottom: 1.5em;
}

.usr-details {
    float: none;
    margin: 0 10%;
}

.sidebar {
    display: none;
}

.right-sidebar {
    display: none;
}

.small-screen {
    display: block;
    margin-bottom: 3em;
}

.sidebar-small-screen {
    float: none;
    width: 80%;
    height: 100%;
    margin-left: 4em;
    margin-right: 3em;
    font-size: 1.4em;
}

.right-sidebar-small-screen {
    float: none;
    width: 80%;
    height: 100%;
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 3em;
    font-size: 1.4em;
}