@media (max-width: 769px) {

    .container {
        width: 68em;
        margin: 0 auto;
    }

    header {
        height: 12.6em;
    }

    .logo-container {
        width: 48.5em;
        height: 12.6em;
        overflow: hidden;
    }

    .logo-container img {
        margin-left: 1.5em;
    }

    .logo-container .search-bar {
        float: none;
        margin-top: 8.8em;
        margin-left: 1.5em;
    }

    .user-details {
        float: left;
    }

    .nav-bar {
        float: none;
        display: block;
        margin-left: 8em;
    }

    .notifications {
        float: none;
        display: block;
        margin-top: 1em;
        margin-left: 16em;
    }

    .main-content {
        margin-left: 8em;
    }

    .sidebar {
        display: none;
    }

    .right-sidebar {
        display: none;
    }

    .small-screen {
        display: block;
        margin-bottom: 3em;
    }

    .small-screen .sidebar-small-screen {
        margin-left: 10em;
    }

    .small-screen .right-sidebar-small-screen {
        margin-right: 10em;
    }
}